/* Hero Video */
.hero{
    height: 90svh;
    margin-bottom: -60px;
}

.hero-video {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.hero-video iframe {
    min-width: 100%;
    min-height: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.5;
}

.hero-vector {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -45%);
    width: 100%;
    max-width: 1100px;
    padding: 0 20px;
    fill: hsl(0, 0%, 100%);
}

.hero-btn{
    margin-top: 24px;
    transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.hero-btn-play{
    height: 14px;
    fill: hsl(0,0%,70%);
    margin: 0px 6px -1px 0px;
}

.hero-vector-desktop {
    display: block;
}

.hero-vector-mobile {
    display: none;
}

@media screen and (max-width:768px){
    .hero-vector-desktop {
        display: none;
    }

    .hero-vector-mobile {
        display: block;
    }
    
}

.hero-content{
    justify-content: flex-end;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -90%);
    width: 100%;
}


/* /////////////////////////// */


/* Portfolio */
#portfolio{
    padding-top: 60px;
}

.portfolio-nav{
    min-height: 60px;
    background-color: hsla(0, 0%, 0%, 80%);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    box-shadow: 0 8px 32px 0 hsla(0, 0%, 0%, 30%);
}

.portfolio-nav-btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 300px;
    min-height: 60px;
    margin: 0 auto;
    padding: 0 20px;
}

.portfolio-nav-btns li{
    list-style: none;
}

.portfolio-nav-btns .btn{
    color: hsl(0,0%,70%);
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    transition: color 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.portfolio-nav-btns .btn:hover, .portfolio-nav-btns .btn:focus{
    color: hsl(0,0%,100%);
}

.btn{
    background: none;
    border: 0;
}

.btn.active{
    color: hsl(0,0%,100%);
}

.gallery {
    background-color: hsl(0, 0%, 0%);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 2px;
  }

.gallery-tile{
    position: relative;
    text-decoration: none;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    margin: 2px;
    border-radius: 6px;
    scale: 100%;
    transition: 1s cubic-bezier(0.25, 0.1, 0.25, 1), scale 0.3s cubic-bezier(0.42, 0, 0, 1);
}

.gallery-tile:hover, .gallery-tile:focus {
    scale: 95%;
    transition: scale 0.3s cubic-bezier(0.42, 0, 0, 1);
}

.gallery-tile.hide{
    display: none;
}

.gallery-tile.show{
    display: block;
    animation: tileAppear 0.4s ease;
}

@keyframes tileAppear{
    0%{
        opacity: 0%;
        transform: scale(0.9);
    }
    100%{
        opacity: 100%;
        transform: scale(1);
    }
}

.tile-overlay{
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
    color: hsl(0,0%,100%);
    opacity: 0;
    width: 100%;
    height: 100%;
    scale: 110%;
    transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.gallery-tile:hover .tile-overlay, .gallery-tile:focus .tile-overlay{
    scale: 100%;
    opacity: 1;
}

.tile-text{
    position: absolute;
    left: 14px;
    bottom: 10px;
}

.tile-title{
    font-size: 25px;
}

.tile-sub-title{
    font-size: 15px;
}
  
.tile-img {
    position: absolute;
    z-index: -1;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
    width: 100%;
    height: 100%;
}

.tile-img-cush-tech{
    background-image: url(/assets/thumbnails/cush-tech.jpg);
}

.tile-overlay:hover ~ .tile-img-cush-tech, a:focus .tile-img-cush-tech{
    background-image: url(/assets/gifs/cush-tech.webp);
}

.tile-img-hex-x-talon{
    background-image: url(/assets/thumbnails/hex-x-talon.webp);
}

.tile-overlay:hover ~ .tile-img-hex-x-talon, a:focus .tile-img-hex-x-talon{
    background-image: url(/assets/gifs/hex-x-talon.webp);
}

.tile-img-px200r{
    background-image: url(/assets/thumbnails/px200r.jpg);
}

.tile-overlay:hover ~ .tile-img-px200r, a:focus .tile-img-px200r{
    background-image: url(/assets/gifs/px200r.webp);
}

.tile-img-infinity-air{
    background-image: url(/assets/thumbnails/infinity-air.jpg);
}

.tile-overlay:hover ~ .tile-img-infinity-air, a:focus .tile-img-infinity-air{
    background-image: url(/assets/gifs/infinity-air.webp);
}

.tile-img-pure{
    background-image: url(/assets/thumbnails/pure.jpg);
}

.tile-overlay:hover ~ .tile-img-pure, a:focus .tile-img-pure{
    background-image: url(/assets/gifs/pure.webp);
}

.tile-img-variance{
    background-image: url(/assets/thumbnails/variance.jpg);
}

.tile-img-overcome{
    background-image: url(/assets/thumbnails/overcome.jpg);
}

.tile-overlay:hover ~ .tile-img-overcome, a:focus .tile-img-overcome{
    background-image: url(/assets/gifs/overcome.webp);
}

.tile-img-davids{
    background-image: url(/assets/thumbnails/davids.jpg);
}

.tile-img-nepenthe{
    background-image: url(/assets/thumbnails/nepenthe.jpg);
}

.tile-img-fantasy-tavern{
    background-image: url(/assets/thumbnails/fantasy-tavern.jpeg);
}

.tile-img-mutant-opie{
    background-image: url(/assets/thumbnails/mutant-opie.jpg);
}

.tile-img-watermelon{
    background-image: url(/assets/thumbnails/watermelon.jpeg);
}

.tile-overlay:hover ~ .tile-img-watermelon, a:focus .tile-img-watermelon{
    background-image: url(/assets/gifs/watermelon.webp);
}

.tile-img-logos{
    background-image: url(/assets/thumbnails/logos.jpeg);
}

.tile-img-lollipop{
    background-image: url(/assets/thumbnails/lollipop.jpeg);
}

.tile-img-balloon{
    background-image: url(/assets/thumbnails/balloon.jpg);
}

.tile-overlay:hover ~ .tile-img-balloon, a:focus .tile-img-balloon{
    background-image: url(/assets/gifs/balloon.webp);
}

.tile-img-la-rosa{
    background-image: url(/assets/thumbnails/la-rosa.jpeg);
}

.tile-img-build-a-pet{
    background-image: url(/assets/thumbnails/build-a-pet.jpg);
}

.tile-img-free-yourself{
    background-image: url(/assets/thumbnails/free-yourself.jpg);
}

.tile-img-turndown-cookie{
    background-image: url(/assets/thumbnails/turndown-cookie.jpg);
}

.tile-overlay:hover ~ .tile-img-turndown-cookie, a:focus .tile-img-turndown-cookie{
    background-image: url(/assets/gifs/turndown-cookie.webp);
}

.tile-img-weddings{
    background-image: url(/assets/thumbnails/weddings.jpeg);
}

.tile-overlay:hover ~ .tile-img-weddings, a:focus .tile-img-weddings{
    background-image: url(/assets/gifs/weddings.webp);
}

/* Preload Gifs */
body::after{
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
    content:
        url(/assets/gifs/cush-tech.webp) url(/assets/gifs/hex-x-talon.webp) url(/assets/gifs/px200r.webp) url(/assets/gifs/infinity-air.webp) url(/assets/gifs/pure.webp) url(/assets/gifs/overcome.webp) url(/assets/gifs/watermelon.webp) url(/assets/gifs/balloon.webp) url(/assets/gifs/turndown-cookie.webp) url(/assets/gifs/weddings.webp);
 }

@media (min-width: 640px) {
.gallery {
    grid-template-columns: repeat(3,1fr);
    }
}

@media (min-width: 992px) {
.gallery {
    grid-template-columns: repeat(4,1fr);
    }
}

@media (min-width: 1200px) {
.gallery {
    grid-template-columns: repeat(5,1fr);
    }
}

@media (min-width: 1440px) {
.gallery {
    grid-template-columns: repeat(6,1fr);
    }
}

@media (min-width: 1680px) {
.gallery {
    grid-template-columns: repeat(7,1fr);
    }
}


/* /////////////////////////// */


/* Clients */
.clients-background{
    background-color: hsl(0, 0%, 0%);
}

#clients{
    position: relative;
    width: 100%;
    align-items: center;
    padding: 100px 0 0 0;
    margin-bottom: 15svh;
}

.clients-content{
    margin: 0 auto;
    width: 100%;
    padding: 20px;
    align-items: center;
}

.clients-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.clients-links li{
    list-style: none;
}

.clients-links a{
    display: flex;
    align-items: center;
}

.clients-content svg{
    fill: hsl(0,0%,70%);
    height: 35px;
    transition: fill 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.clients-content svg:hover{
    fill: hsl(0,0%,100%);
}

@media screen and (max-width:980px){
    .clients-links{
        flex-direction: column;
        height: 350px;
    }

    .clients-content svg{
        height: 40px;
    }
}


/* /////////////////////////// */


/* Resume */
.resume-background{
    background-color: hsl(0, 0%, 0%);
}

#resume{
    height: 72svh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}

.resume-imgs{
    width: 42%;
    height: 100%;
    margin: 0 -300px 0 15px;
    z-index: 1;
    
}

.resume-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.resume-text{
    width: 63%;
    height: 280px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    color: white;
    padding: 0px 40px 20px 0px;
    margin: 0px 15px 0px 0px;
    background: linear-gradient(135deg, hsla(10, 40%, 59%, 50%) 25%, hsl(10, 40%, 59%, 30%) 40%, hsla(10, 40%, 59%, 0) 80%);
    border: 1px solid hsla(10, 30%, 30%);
    border-radius: 20px;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(5.9px);
    box-shadow: 0 8px 32px 0 hsla(0, 0%,);
}

.resume-title{
    font-size: 80px;
    -webkit-background-clip: text;
    background-image: linear-gradient(90deg,#c17c6e 20%, #ecbbae 60%);
    color: transparent;
}

.resume-sub-title{
    font-size: 14px;
}

.resume-body{
    margin: 20px 0 0 0;
}

@media screen and (max-width:768px){
    #resume{
        height: 100svh;
        flex-direction: column;
        justify-content: center;
    }

    .resume-imgs{
        width: 100%;
        height: 45%;
        margin: 0px 0px -20px 0px;
    }
    
    .resume-text{
        width: initial;
        height: initial;
        justify-content: center;
        padding: 120px 40px 35px 40px;
        margin: -100px 15px 0 15px;
    }

    .resume-title{
        font-size: 78px;
    }
}


/* /////////////////////////// */


/* About */
.about-background{
    background-color: hsl(0, 0%, 0%);
}

#about{
    height: 72svh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    align-items: center;
}

.about-imgs{
    width: 38%;
    height: 100%;
    align-content: center;
    text-align: right;
    margin: 0 15px 0 -300px;
    z-index: 1;
}

.about-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.about-text{
    width: 67%;
    height: 380px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    color: white;
    padding: 0px 0px 20px 40px;
    margin: 0px 0px 0px 15px;
    background: linear-gradient(-135deg, hsl(209, 32%, 25%) 25%, hsl(209, 32%, 18%) 40%, hsla(209, 32%, 18%, 0.094) 80%);
    border: 1px solid hsla(207, 30%, 30%);
    border-radius: 20px;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(5.9px);
    box-shadow: 0 8px 32px 0 hsla(0, 0%,);
}

.about-title{
    font-size: 80px;
    line-height: 100px;
    -webkit-background-clip: text;
    background-image: linear-gradient(90deg, #76a1e7 20%, #b7caee 60%);
    color: transparent;
}

.about-sub-title{
    font-size: 25px;
    margin: 0 0 0 29px;
}

.about-body{
    width: 70%;
    margin: 5px 0 0 30px;
    text-align: left;
    font-size: 15px;
    line-height: 2;
}

@media screen and (max-width:768px){
    #about{
        height: 100svh;
        flex-direction: column;
        justify-content: center;
    }

    .about-imgs{
        width: 100%;
        height: 45%;
        margin: 0px 0px -20px 0px;
    }
    
    .about-text{
        max-width: 80%;
        min-width: 370px;
        height: initial;
        justify-content: center;
        padding: 120px 40px 35px 40px;
        margin: -100px 15px 0 15px;
    }

    .about-title{
        font-size: 78px;
    }

    .about-body{
        width: inherit;
    }
}


/* /////////////////////////// */


/* Contact */
.contact-background{
    background-color: hsl(0, 0%, 0%);
}

#contact{
    height: 72svh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15svh;
}

.contact-imgs{
    width: 45%;
    height: 100%;
    margin: 0 -300px 0 15px;
    z-index: 1;
}

.contact-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.contact-text{
    width: 60%;
    height: 280px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    color: white;
    padding: 0px 40px 20px 0px;
    margin: 0px 15px 0px 0px;
    background: linear-gradient(135deg, hsla(10, 40%, 59%, 50%) 25%, hsl(10, 40%, 59%, 30%) 40%, hsla(10, 40%, 59%, 0) 80%);
    border: 1px solid hsla(10, 30%, 30%);
    border-radius: 20px;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(5.9px);
    box-shadow: 0 8px 32px 0 hsla(0, 0%,);
}

.contact-title{
    font-size: 80px;
    -webkit-background-clip: text;
    background-image: linear-gradient(90deg,#c17c6e 20%, #ecbbae 60%);
    color: transparent;
}

.contact-sub-title{
    font-size: 14px;
}

.contact-body{
    margin: 20px 0 0 0;
}

@media screen and (max-width:768px){
    #contact{
        height: 100svh;
        flex-direction: column;
        justify-content: center;
    }

    .contact-imgs{
        width: 100%;
        height: 45%;
        margin: 0px 0px -20px 0px;
    }
    
    .contact-text{
        width: initial;
        height: initial;
        justify-content: center;
        padding: 120px 40px 35px 40px;
        margin: -100px 15px 0 15px;
    }

    .contact-title{
        font-size: 78px;
    }
}