/* Hero Video */
.hero{
    height: 90svh;
    margin-bottom: -60px;
}

.hero_video {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 105%;
    z-index: -2;
}

.hero_video iframe {
    min-width: 100%;
    min-height: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.5;
}

.hero_vector {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -45%);
    width: 100%;
    max-width: 1100px;
    padding: 0 20px;
    fill: hsl(0, 0%, 100%);
}

.hero_vector_desktop {
    display: block;
}

.hero_vector_mobile {
    display: none;
}

@media screen and (max-width:768px){
    .hero_vector_desktop {
        display: none;
    }

    .hero_vector_mobile {
        display: block;
    }
    
}

.hero_content{
    justify-content: flex-end;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -90%);
    width: 100%;
}


/* /////////////////////////// */


/* Portfolio */
#portfolio{
    padding-top: 60px;
}

.portfolio_nav{
    min-height: 60px;
    background-color: hsla(0, 0%, 0%, 80%);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    box-shadow: 0 8px 32px 0 hsla(0, 0%, 0%, 30%);
}

.portfolio_nav_btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 300px;
    min-height: 60px;
    margin: 0 auto;
    padding: 0 20px;
}

.portfolio_nav_btns li{
    list-style: none;
}

.portfolio_nav_btns .btn{
    color: hsl(0,0%,70%);
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    transition: color 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.portfolio_nav_btns .btn:hover, .portfolio_nav_btns .btn:focus{
    color: hsl(0,0%,100%);
}

.btn{
    background: none;
    border: 0;
}

.btn.active{
    color: hsl(0,0%,100%);
}

.gallery {
    background-color: hsl(0, 0%, 0%);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 2px;
  }

.gallery_tile{
    position: relative;
    text-decoration: none;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    margin: 2px;
    border-radius: 6px;
    scale: 100%;
    transition: 1s cubic-bezier(0.25, 0.1, 0.25, 1), scale 0.3s cubic-bezier(0.42, 0, 0, 1);
}

.gallery_tile:hover, .gallery_tile:focus {
    scale: 95%;
    transition: scale 0.3s cubic-bezier(0.42, 0, 0, 1);
}

.gallery_tile.hide{
    display: none;
}

.gallery_tile.show{
    display: block;
    animation: tileAppear 0.4s ease;
}

@keyframes tileAppear{
    0%{
        opacity: 0%;
        transform: scale(0.9);
    }
    100%{
        opacity: 100%;
        transform: scale(1);
    }
}

.tile_overlay{
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
    color: hsl(0,0%,100%);
    opacity: 0;
    width: 100%;
    height: 100%;
    scale: 110%;
    transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.gallery_tile:hover .tile_overlay, .gallery_tile:focus .tile_overlay{
    scale: 100%;
    opacity: 1;
}

.tile_text{
    position: absolute;
    left: 14px;
    bottom: 10px;
}

.tile_title{
    font-size: 25px;
}

.tile_sub_title{
    font-size: 15px;
}
  
.tile_img {
    position: absolute;
    z-index: -1;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
    width: 100%;
    height: 100%;
}

.tile_img_cush-tech{
    background-image: url(/assets/thumbnails/cush-tech.jpg);
}

.tile_overlay:hover ~ .tile_img_cush-tech, a:focus .tile_img_cush-tech{
    background-image: url(/assets/gifs/cush-tech.webp);
}

.tile_img_hex_x_talon{
    background-image: url(/assets/thumbnails/hex_x_talon.webp);
}

.tile_overlay:hover ~ .tile_img_hex_x_talon, a:focus .tile_img_hex_x_talon{
    background-image: url(/assets/gifs/hex_x_talon.webp);
}

.tile_img_px200r{
    background-image: url(/assets/thumbnails/px200r.jpg);
}

.tile_overlay:hover ~ .tile_img_px200r, a:focus .tile_img_px200r{
    background-image: url(/assets/gifs/px200r.webp);
}

.tile_img_infinity_air{
    background-image: url(/assets/thumbnails/infinity_air.jpg);
}

.tile_overlay:hover ~ .tile_img_infinity_air, a:focus .tile_img_infinity_air{
    background-image: url(/assets/gifs/infinity_air.webp);
}

.tile_img_pure{
    background-image: url(/assets/thumbnails/pure.jpg);
}

.tile_overlay:hover ~ .tile_img_pure, a:focus .tile_img_pure{
    background-image: url(/assets/gifs/pure.webp);
}

.tile_img_variance{
    background-image: url(/assets/thumbnails/variance.jpg);
}

.tile_img_overcome{
    background-image: url(/assets/thumbnails/overcome.jpg);
}

.tile_overlay:hover ~ .tile_img_overcome, a:focus .tile_img_overcome{
    background-image: url(/assets/gifs/overcome.webp);
}

.tile_img_davids{
    background-image: url(/assets/thumbnails/davids.jpg);
}

.tile_img_nepenthe{
    background-image: url(/assets/thumbnails/nepenthe.jpg);
}

.tile_img_fantasy_tavern{
    background-image: url(/assets/thumbnails/fantasy_tavern.jpeg);
}

.tile_img_mutant_opie{
    background-image: url(/assets/thumbnails/mutant_opie.jpg);
}

.tile_img_watermelon{
    background-image: url(/assets/thumbnails/watermelon.jpeg);
}

.tile_overlay:hover ~ .tile_img_watermelon, a:focus .tile_img_watermelon{
    background-image: url(/assets/gifs/watermelon.webp);
}

.tile_img_logos{
    background-image: url(/assets/thumbnails/logos.jpeg);
}

.tile_img_lollipop{
    background-image: url(/assets/thumbnails/lollipop.jpeg);
}

.tile_img_balloon{
    background-image: url(/assets/thumbnails/balloon.jpg);
}

.tile_overlay:hover ~ .tile_img_balloon, a:focus .tile_img_balloon{
    background-image: url(/assets/gifs/balloon.webp);
}

.tile_img_la_rosa{
    background-image: url(/assets/thumbnails/la_rosa.jpeg);
}

.tile_img_build_a_pet{
    background-image: url(/assets/thumbnails/build_a_pet.jpg);
}

.tile_img_free_yourself{
    background-image: url(/assets/thumbnails/free_yourself.jpg);
}

.tile_img_turndown_cookie{
    background-image: url(/assets/thumbnails/turndown_cookie.jpg);
}

.tile_overlay:hover ~ .tile_img_turndown_cookie, a:focus .tile_img_turndown_cookie{
    background-image: url(/assets/gifs/turndown_cookie.webp);
}

.tile_img_weddings{
    background-image: url(/assets/thumbnails/weddings.jpeg);
}

.tile_overlay:hover ~ .tile_img_weddings, a:focus .tile_img_weddings{
    background-image: url(/assets/gifs/weddings.webp);
}

/* Preload Gifs */
body::after{
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
    content:
        url(/assets/gifs/cush-tech.webp) url(/assets/gifs/hex_x_talon.webp) url(/assets/gifs/px200r.webp) url(/assets/gifs/infinity_air.webp) url(/assets/gifs/pure.webp) url(/assets/gifs/overcome.webp) url(/assets/gifs/watermelon.webp) url(/assets/gifs/balloon.webp) url(/assets/gifs/turndown_cookie.webp) url(/assets/gifs/weddings.webp);
 }

@media (min-width: 640px) {
.gallery {
    grid-template-columns: repeat(3,1fr);
    }
}

@media (min-width: 992px) {
.gallery {
    grid-template-columns: repeat(4,1fr);
    }
}

@media (min-width: 1200px) {
.gallery {
    grid-template-columns: repeat(5,1fr);
    }
}

@media (min-width: 1440px) {
.gallery {
    grid-template-columns: repeat(6,1fr);
    }
}

@media (min-width: 1680px) {
.gallery {
    grid-template-columns: repeat(7,1fr);
    }
}


/* /////////////////////////// */


/* Clients */
.clients_background{
    background-color: hsl(0, 0%, 0%);
}

#clients{
    position: relative;
    width: 100%;
    align-items: center;
    padding: 100px 0 0 0;
    margin-bottom: 15svh;
}

.clients_content{
    margin: 0 auto;
    width: 100%;
    padding: 20px;
    align-items: center;
}

.clients_links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.clients_links li{
    list-style: none;
}

.clients_links a{
    display: flex;
    align-items: center;
}

.clients_content svg{
    fill: hsl(0,0%,70%);
    height: 35px;
    transition: fill 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.clients_content svg:hover{
    fill: hsl(0,0%,100%);
}

@media screen and (max-width:980px){
    .clients_links{
        flex-direction: column;
        height: 350px;
    }

    .clients_content svg{
        height: 40px;
    }
}


/* /////////////////////////// */


/* Resume */
.resume_background{
    background-color: hsl(0, 0%, 0%);
}

#resume{
    height: 72svh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}

.resume_imgs{
    width: 42%;
    height: 100%;
    margin: 0 -300px 0 15px;
    z-index: 1;
    
}

.resume_img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.resume_text{
    width: 63%;
    height: 280px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    color: white;
    padding: 0px 40px 20px 0px;
    margin: 0px 15px 0px 0px;
    background: linear-gradient(135deg, hsla(10, 40%, 59%, 50%) 25%, hsl(10, 40%, 59%, 30%) 40%, hsla(10, 40%, 59%, 0) 80%);
    border: 1px solid hsla(10, 30%, 30%);
    border-radius: 20px;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(5.9px);
    box-shadow: 0 8px 32px 0 hsla(0, 0%,);
}

.resume_title{
    font-size: 80px;
    -webkit-background-clip: text;
    background-image: linear-gradient(90deg,#c17c6e 20%, #ecbbae 60%);
    color: transparent;
}

.resume_sub_title{
    font-size: 14px;
}

.resume_body{
    margin: 20px 0 0 0;
}

@media screen and (max-width:768px){
    #resume{
        height: 90svh;
        flex-direction: column;
        justify-content: center;
    }

    .resume_imgs{
        width: 100%;
        height: 50%;
        margin: 0px 0px -20px 0px;
    }
    
    .resume_text{
        width: initial;
        height: initial;
        justify-content: center;
        padding: 120px 40px 35px 40px;
        margin: -100px 15px 0 15px;
    }

    .resume_title{
        font-size: 78px;
    }
}


/* /////////////////////////// */


/* About */
.about_background{
    background-color: hsl(0, 0%, 0%);
}

#about{
    height: 72svh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    align-items: center;
}

.about_imgs{
    width: 38%;
    height: 100%;
    align-content: center;
    text-align: right;
    margin: 0 15px 0 -300px;
    z-index: 1;
}

.about_img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.about_text{
    width: 67%;
    height: 360px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    color: white;
    padding: 0px 0px 20px 40px;
    margin: 0px 0px 0px 15px;
    background: linear-gradient(-135deg, hsl(209, 32%, 25%) 25%, hsl(209, 32%, 18%) 40%, hsla(209, 32%, 18%, 0.094) 80%);
    border: 1px solid hsla(207, 30%, 30%);
    border-radius: 20px;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(5.9px);
    box-shadow: 0 8px 32px 0 hsla(0, 0%,);
}

.about_title{
    font-size: 80px;
    line-height: 100px;
    -webkit-background-clip: text;
    background-image: linear-gradient(90deg, #76a1e7 20%, #b7caee 60%);
    color: transparent;
}

.about_sub_title{
    font-size: 25px;
    margin: 0 0 0 29px;
}

.about_body{
    width: 70%;
    margin: 5px 0 0 30px;
    text-align: left;
    font-size: 15px;
    line-height: 2;
}

@media screen and (max-width:768px){
    #about{
        height: 100svh;
        flex-direction: column;
        justify-content: center;
    }

    .about_imgs{
        width: 100%;
        height: 50%;
        margin: 0px 0px -20px 0px;
    }
    
    .about_text{
        max-width: 80%;
        min-width: 370px;
        height: initial;
        justify-content: center;
        padding: 120px 40px 35px 40px;
        margin: -100px 15px 0 15px;
    }

    .about_title{
        font-size: 78px;
    }

    .about_body{
        width: inherit;
    }
}


/* /////////////////////////// */


/* Contact */
.contact_background{
    background-color: hsl(0, 0%, 0%);
}

#contact{
    height: 72svh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15svh;
}

.contact_imgs{
    width: 45%;
    height: 100%;
    margin: 0 -300px 0 15px;
    z-index: 1;
}

.contact_img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.contact_text{
    width: 60%;
    height: 280px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    color: white;
    padding: 0px 40px 20px 0px;
    margin: 0px 15px 0px 0px;
    background: linear-gradient(135deg, hsla(10, 40%, 59%, 50%) 25%, hsl(10, 40%, 59%, 30%) 40%, hsla(10, 40%, 59%, 0) 80%);
    border: 1px solid hsla(10, 30%, 30%);
    border-radius: 20px;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(5.9px);
    box-shadow: 0 8px 32px 0 hsla(0, 0%,);
}

.contact_title{
    font-size: 80px;
    -webkit-background-clip: text;
    background-image: linear-gradient(90deg,#c17c6e 20%, #ecbbae 60%);
    color: transparent;
}

.contact_sub_title{
    font-size: 14px;
}

.contact_body{
    margin: 20px 0 0 0;
}

@media screen and (max-width:768px){
    #contact{
        height: 90svh;
        flex-direction: column;
        justify-content: center;
    }

    .contact_imgs{
        width: 100%;
        height: 50%;
        margin: 0px 0px -20px 0px;
    }
    
    .contact_text{
        width: initial;
        height: initial;
        justify-content: center;
        padding: 120px 40px 35px 40px;
        margin: -100px 15px 0 15px;
    }

    .contact_title{
        font-size: 78px;
    }
}