/* Hero Image */
.hero{
    height: 100vh;
    margin-bottom: -60px;
}

.hero_image {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero.jpg");
    height: 170vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -2;
}

.hero_vector {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1100px;
    padding: 0 20px;
    fill: hsl(0, 0%, 100%);
}

.hero_vector_desktop {
    display: block;
}

.hero_vector_mobile {
    display: none;
}

@media screen and (max-width:768px){
    .hero_vector_desktop {
        display: none;
    }

    .hero_vector_mobile {
        display: block;
    }
    
}

.hero_content{
    justify-content: flex-end;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 100%;
}


/* /////////////////////////// */


/* Portfolio */
#portfolio{
    padding-top: 60px;
}

.portfolio_nav{
    min-height: 60px;
    background-color: hsla(0, 0%, 0%, 80%);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    box-shadow: 0 8px 32px 0 hsla(0, 0%, 0%, 30%);
}

.portfolio_nav_btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 300px;
    min-height: 60px;
    margin: 0 auto;
    padding: 0 20px;
}

.portfolio_nav_btns li{
    list-style: none;
}

.portfolio_nav_btns .btn{
    color: hsl(0,0%,70%);
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    transition: color 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.portfolio_nav_btns .btn:hover{
    color: hsl(0,0%,100%);
}

.btn{
    background: none;
    border: 0;
}

.btn.active{
    color: hsl(0,0%,100%);
}

.gallery {
    background-color: hsl(0, 0%, 0%);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 2px;
  }

.gallery_tile{
    position: relative;
    text-decoration: none;
    margin: 2px;
}

.gallery_tile.hide{
    display: none;
}

.gallery_tile.show{
    display: block;
    animation: tileAppear 0.4s ease;
}

@keyframes tileAppear{
    0%{
        opacity: 0%;
        transform: scale(0.9);
    }
    100%{
        opacity: 100%;
        transform: scale(1);
    }
}

.tile_overlay{
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
    color: hsl(0,0%,100%);
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.gallery_tile:hover .tile_overlay{
    opacity: 1;
}

.tile_text{
    position: absolute;
    left: 14px;
    bottom: 10px;
}

.tile_title{
    font-size: 24px;
}

.tile_sub_title{
    font-size: 14px;
}
  
.tile_img {
    display: block;
    background-size: cover;
    aspect-ratio: 1/1;
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

.tile_img_pure{
    background-image: url(/img/pure.jpg);
}

.tile_overlay:hover ~ .tile_img_pure{
    background-image: url(/img/gifs/pure.gif);
}

.tile_img_variance{
    background-image: url(/img/variance.jpg);
}

.tile_img_overcome{
    background-image: url(/img/overcome.jpg);
}

.tile_overlay:hover ~ .tile_img_overcome{
    background-image: url(/img/gifs/overcome.gif);
}

.tile_img_davids{
    background-image: url(/img/davids.jpg);
}

.tile_img_nepenthe{
    background-image: url(/img/nepenthe.jpg);
}

.tile_img_fantasy_tavern{
    background-image: url(/img/fantasy_tavern.jpeg);
}

.tile_img_mutant_opie{
    background-image: url(/img/mutant_opie.jpg);
}

.tile_img_watermelon{
    background-image: url(/img/watermelon.jpeg);
}

.tile_overlay:hover ~ .tile_img_watermelon{
    background-image: url(/img/gifs/watermelon.gif);
}

.tile_img_logos{
    background-image: url(/img/logos.jpeg);
}

.tile_img_lollipop{
    background-image: url(/img/lollipop.jpeg);
}

.tile_img_balloon{
    background-image: url(/img/balloon.jpg);
}

.tile_overlay:hover ~ .tile_img_balloon{
    background-image: url(/img/gifs/balloon.gif);
}

.tile_img_la_rosa{
    background-image: url(/img/la_rosa.jpeg);
}

.tile_img_build_a_pet{
    background-image: url(/img/build_a_pet.jpg);
}

.tile_img_free_yourself{
    background-image: url(/img/free_yourself.jpg);
}

.tile_img_turndown_cookie{
    background-image: url(/img/turndown_cookie.jpg);
}

.tile_overlay:hover ~ .tile_img_turndown_cookie{
    background-image: url(/img/gifs/turndown_cookie.gif);
}

.tile_img_weddings{
    background-image: url(/img/weddings.jpeg);
}

.tile_overlay:hover ~ .tile_img_weddings{
    background-image: url(/img/gifs/weddings.gif);
}

@media (min-width: 640px) {
.gallery {
    grid-template-columns: repeat(3,1fr);
    }
}

@media (min-width: 992px) {
.gallery {
    grid-template-columns: repeat(4,1fr);
    }
}

@media (min-width: 1200px) {
.gallery {
    grid-template-columns: repeat(5,1fr);
    }
}

@media (min-width: 1440px) {
.gallery {
    grid-template-columns: repeat(6,1fr);
    }
}

@media (min-width: 1680px) {
.gallery {
    grid-template-columns: repeat(7,1fr);
    }
}


/* /////////////////////////// */


/* Resume */
#resume{
    background-color: hsl(0, 0%, 0%);
    height: 100vh;
    position: relative;
}

.resume_imgs{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resume_img{
    width: 75%;
    height: 75%;
    object-fit: contain;
    filter: brightness(30%);
}

.resume_text{
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.resume_title{
    font-size: 80px;
    line-height: 75px;
    -webkit-background-clip: text;
    background-image: linear-gradient(90deg,#c17c6e 20%, #ecbbae 60%);
    color: transparent;
}

.resume_sub_title{
    font-size: 14px;
}


/* /////////////////////////// */


/* About */
.about_background{
    background-color: hsl(0, 0%, 0%);
}

#about{
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

.about_circle{
    aspect-ratio: auto 1/1;
    width: 74%;
    background: radial-gradient(50% 50% at 50% 50%, #000000 80%, #1F2E3C 99%, transparent 99%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.about_img{
  width: 40%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 70.5%;
  transform: translate(-50%, -50%);
  
}

.about_text{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0px 40px 0 40px;
    width: 59%;
    position: absolute;
    top: 52%;
    left: 37.5%;
    transform: translate(-50%, -50%);
}

.about_title{
    font-size: 133px;
    line-height: 160px;
    -webkit-background-clip: text;
    background-image: linear-gradient(90deg, #76a1e7 20%, #b7caee 60%);
    color: transparent;
}

.about_sub_title{
    font-size: 25px;
    margin: 0 0 0 29px;
}

.about_body{
    margin: 5px 0 0 30px;
    text-align: left;
    font-size: 15px;
    line-height: 2;
}

@media screen and (max-width:950px){
    .about_text{
        width: 54%;
    }

    .about_title{
        font-size: 96px;
        line-height: 120px;
    }
}

@media screen and (max-width:768px){
    #about{
        flex-direction: column;
        min-height: 750px;
    }

    .about_circle{
        width: 80%;
    }

    .about_img{
        width: 40%;
        top: 32%;
        transform: translate(-50%, -50%);
    }
    
    .about_text{
        width: 100%;
        position: relative;
        top: 0%;
        left: 0%;
        transform: translate(0%, 0%);
    }

    .about_title{
        font-size: 65px;
        line-height: 85px;
    }

    .about_sub_title{
        margin: 0 0 0 10px;
    }
    
    .about_body{
        margin: 5px 0 0 12px;
    }
}

@media screen and (max-width:400px){
    .about_img{
        top: 23%;
    }
}


/* /////////////////////////// */


/* Contact */
.contact_background{
    background-color: hsl(0, 0%, 0%);
}

#contact{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.contact_imgs{
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 0 -60px 0 15px;
}

.contact_img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.contact_text{
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    margin: 60px 40px 0 40px;
}

.contact_title{
    font-size: 80px;
    line-height: 75px;
    -webkit-background-clip: text;
    background-image: linear-gradient(90deg,#c17c6e 20%, #ecbbae 60%);
    color: transparent;
}

.contact_sub_title{
    font-size: 14px;
}

.contact_body{
    margin: 20px 0 0 0;
}

@media screen and (max-width:768px){
    #contact{
        flex-direction: column;
    }

    .contact_imgs{
        width: 70%;
        height: 52%;
        margin: 0;
        align-items: flex-end;
    }
    
    .contact_text{
        height: 20%;
        align-items: start;
        margin: 0 40px 0 40px;
    }
}