/* Project */
.project{
    background-color: hsl(0, 0%, 10%);
}

.project_content{
    margin: 0 auto;
    max-width: 980px;
    display: flex;
    flex-direction: column;
}

.project_text{
    padding: 100px 20px 0 20px;
    font-family: 'Roboto', sans-serif;
    height: 300px;
}

.project_title{
    color: hsl(0,0%,100%);
    text-align: center;
    font-size: 30px;
    padding-bottom: 12px;
}

.project_description{
    color: hsl(0,0%,70%);
    text-align: left;
    font-size: 14px;
    max-width: 800px;
    margin: 0 auto;
}

.project_img {
    display: block;
    width: 100%;
}