/* Project */
.project{
    background-color: hsl(0, 0%, 10%);
}

.project_content{
    margin: 0 auto;
    max-width: 1920px;
    display: flex;
    flex-direction: row-reverse;

}

.project_info{
    padding: 30px 20px 30px 20px;
    max-width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 28vh;
}

.project_text{
    font-family: open sans, helvetica neue, Helvetica, Arial, sans-serif;
}

.project_title{
    color: hsl(0,0%,100%);
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding-bottom: 12px;
}

.project_description{
    color: hsl(0,0%,70%);
    text-align: left;
    font-size: 14px;
}

.software_used{
    padding: 25px 0px 0px 0px;
    margin: 0 auto;
}

.software_icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.software_icon{
    width: 32px;
    height: 32px;
    margin: 0 12px;
    filter: grayscale(100%) invert();
    transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.software_icon:hover{
    filter: grayscale(0%);
}

.software_icon_01{
    width: 32px;
    height: 32px;
    margin: 0 12px;
    filter: grayscale(100%);
    transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.software_icon_01:hover{
    filter: grayscale(0%);
}

.project_imgs{
    margin-top: 60px;
}

.project_img {
    display: block;
    width: 100%;
}

@media screen and (max-width:992px){
    .project_content{
        flex-direction: column;
        align-items: center;
    }

    .project_info{
        padding: 100px 20px 30px 20px;
        position: unset;
        max-width: 800px;
        height: auto;
    }

    .project_imgs{
        margin-top: 0px;
    }

}